@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Metalsmith";
  font-style: normal;
  src: url("~/assets/fonts/Metalsmith-Regular.woff2") format("woff2"),
       url("~/assets/fonts/Metalsmith-Regular.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  src: url("~/assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
       url("~/assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/fonts/MyriadPro-Regular.woff2') format('woff2'),
       url('~/assets/fonts/MyriadPro-Regular.woff') format('woff');
}

*::selection {
  background: theme(colors.pink);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

html {
  /* 1rem = 10px, 3.5rem = 35px; */
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

.add-to-cart {
  @apply border-2 border-solid px-5 py-1.5 w-full md:w-30 bg-black text-white font-avenir font-bold uppercase text-1.8;
}
