@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Metalsmith";
  font-display: fallback;
  font-style: normal;
  src: url("~/assets/fonts/Metalsmith.woff") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-display: fallback;
  font-style: normal;
  src: url("~/assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
