/* Media Queries
========================================================================== */

@mixin bg-fixed($url) {
  background-image: linear-gradient(
                  rgba(0, 0, 0, 0.4),
                  rgba(0, 0, 0, 0.4)
  ),
  url($url);
  background-attachment: fixed;
  background-size: cover;
}

@mixin bg-repeat($url) {
  background-image: linear-gradient(
                  rgba(0, 0, 0, 0.4),
                  rgba(0, 0, 0, 0.4)
  ),
  url($url);
  background-repeat: repeat;
}
